<!-- <p>resume works!</p> -->

<div class="p-5">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Work Experience
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <h5>Atyati Technology</h5>
          <p>Technical Associate</p>
          <div class="text-center">
              <p style="font-weight: bold;">Financial Inclusion Services Web Application</p>
          </div>
          <div><strong>Technologies Used: </strong><span>Angular 15</span></div>
          <div><strong>Description: </strong><span>Developed a web application to facilitate financial inclusion services, acting as a micro ATM in rural areas</span></div>
          <div><strong>Responsibilities: </strong>
              <span>
                  <ul>
                      <li>Integrated FP-Devices</li>
                      <li>Implemented <strong>lazy loading</strong> for efficient module loading.</li>
                      <li>For Secure API authentication utilized <strong>JWT tokens</strong></li>
                      <li>Applied encryption and decryption for enhanced data security</li>
                      <li>Ensured security for concurrent logins</li>
                  </ul>
              </span>
          </div>
       </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Education
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div>
              <p>2019-2023</p>
          <h5>G H Raisoni College of Engineering Nagpur</h5>
          <ul>
              <li>I persuade my engineering in Information Technology.</li>
          </ul>
          <!-- <p>I persuade my engineering in Information Technology.</p> -->
          </div>
          <div>
          <p>2017-2019</p>
          <h5>Saraswati College Nagpur</h5>
          <ul>
              <li>I have done my Higher Secondary Education in subject : PCMB </li>
          </ul>
          </div>
          <div>
              <p>2017</p>
              <h5>Khubchand Bajaj Central Public School</h5>
              <ul>
                  <li>I have done my Secondary Education with securing 8.2 CGPA</li>
              </ul>
              </div>
      </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Certifications
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">Rising Star Performer, Q2- 2023-2024 (atyati technologies pvt ltd.)</div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            Skills
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          <ul>
              <li>Angular 15</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Typescript</li>
              <li>jquery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border"> Download PDF Resume</button>
</div>
